body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/prizeCounter.jpg);
  background-size: 100%;
}

.container {
  float: left;
  display: block;
  width: 125px;
  height:125px;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}


img {
  float: left;
  display: block;
  border: 2px solid black;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.overlay {
  float: left;
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }
 
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4.2rem;
}

.glow {
     animation: glow 1.5s infinite alternate;     
}
  
.glowcontainer {
  margin-top: 20vh;
}

@keyframes glow {
  100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
   }
  
  0% {
    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #0fa,
    0 0 45px #0fa,
    0 0 55px #0fa,
    0 0 70px #0fa,
    0 0 80px #0fa;
  }