/*this is for the submission box this gives me my box and ability to type in it but that is all for now*/
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
  background-color: green;
}

.left {
  position: fixed;
  left: 10px;
  top: 10px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 18px;
  font-family: "Helvetica Neue", sans-serif;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(images/prizeCounter-min.jpg); /*this gives a darker appearance to the background that makes my glowing text stand out more*/
  background-size: 100%;
}

.center {
  position: relative;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

/*circular prize image with border*/
img {
  float: left;
  display: block;
  border: 2px solid black;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

/*gives centered point value*/
.value {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*gives black circle overlay to images*/
.overlay {
  display: block;
  position: absolute;
  border: 2px solid black;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

/*gives position of prize*/
.containerone {
  position: absolute;
  display: block;
  top: 100px;
  left: 100px;
}

/*makes overlay upon hover*/
.containerone:hover .overlay{
  opacity: 1;
}

.containertwo {
  position: absolute;
  display: block;
  bottom: 100px;
  right: 100px;
}

.containertwo:hover .overlay {
opacity: 1;
}
  
.containerthree {
position: absolute;
display: block;
top: 150px;
right: 150px;
}

.containerthree:hover .overlay {
opacity: 1;
}

.containerfour {
position: absolute;
display: block;
bottom: 75px;
right: 340px;
}

.containerfour:hover .overlay {
opacity: 1;
}

.containerfive {
position: absolute;
display: block;
top: 20px;
right: 75px;
}

.containerfive:hover .overlay {
opacity: 1;
}

.containersix {
position: absolute;
display: block;
top: 390px;
right: 550px;
}

.containersix:hover .overlay {
opacity: 1;
}

.containerseven {
position: absolute;
display: block;
bottom: 150px;
left: 150px;
}

.containerseven:hover .overlay{
opacity: 1;
}

.containereight {
position: absolute;
display: block;
top: 90px;
left: 435px;
}

.containereight:hover .overlay {
opacity: 1;
}

.containernine {
position: absolute;
display: block;
top: 575px;
right: 600px;
}

.containernine:hover .overlay {
opacity: 1;
}

.containerten {
position: absolute;
display: block;
bottom:275px;
left: 35px;
}

.containerten:hover .overlay {
opacity: 1;
}

.containereleven {
position: absolute;
display: block;
bottom: 395px;
right: 400px;
}

.containereleven:hover .overlay {
opacity: 1;
}

.containertwelve {
position: absolute;
display: block;
bottom: 575px;
right: 565px;
}

.containertwelve:hover .overlay {
opacity: 1;
}

.containerthirteen {
position: absolute;
display: block;
top: 350px;
right: 283px;
}

.containerthirteen:hover .overlay {
opacity: 1;
}

.containerfourteen {
position: absolute;
display: block;
top: 495px;
right: 765px;
}

.containerfourteen:hover .overlay {
opacity: 1;
}

.containerfifteen {
position: absolute;
display: block;
bottom: 44px;
left: 313px;
}

.containerfifteen:hover .overlay {
opacity: 1;
}

.containersixteen {
position: absolute;
display: block;
top: 215px;
left: 563px;
}

.containersixteen:hover .overlay {
opacity: 1;
}

.containerseventeen {
position: absolute;
display: block;
top: 300px;
right: 700px;
}

.containerseventeen:hover .overlay {
opacity: 1;
}

/*below code give h1 Prizes to have glowing effect, research more to understand every line of this code*/
.neonText {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
  }
 
h1 {
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4.2rem;
}

.glow {
     animation: glow 1.5s infinite alternate;     
}
  
.glowcontainer {
  position: fixed;
  left: 280px;
  margin-top: 20vh;}

@keyframes glow {
  100% {
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
   }
  
  0% {
    text-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #0fa,
    0 0 45px #0fa,
    0 0 55px #0fa,
    0 0 70px #0fa,
    0 0 80px #0fa;
      }}
